body{
    background: #c8d7e0;
    color: #253741;
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
}
.container{
    display: flex;
}

.sidebar{
    position: relative;
    width: 35vw;
    height: 100vh;
}
.image{
    width: inherit;
    height: inherit;
    vertical-align: middle;
}

.textSection{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
}

input{
    height: 1.5rem;
}

.companyName{
text-align: center;
color: #B25068;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
font-size: 4rem;
}

.company{
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 9;
    top: 27vh;
    width: 100%;
  
}

form{
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.form{
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #c8d7e0;
}

.callText{
    width: 50vw;
    padding: 2rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    
}

input{
width: 400px;
}

.input-pwd{
    position: relative;
}

.callText, .lets{
    font-size: 1.5rem;
}

button{
margin: 2rem;
width: 10rem;
}

.login{
    margin-top: 0;
    margin-left: 2rem;
}

#message{
    position: absolute;
    top: 3rem;
    z-index: 3;
}

/* valid and invalid password styles */
input:user-invalid{
    border: 2px solid red;
}

.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    margin-right: 10px;
    content: "✓";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    margin-right: 10px;
    content: "×";
  }

  #message{
    display: none;
  }





